.album-convention{
    margin-top: 100px;
}

.our-package{
    margin-top: 100px;
   
}

.silicon-card{
    border-radius: 30px;
}

.silicon-footer-button{
    border-radius: 20px;
}

.silicon-general-Inquiries{
    margin-top: 100px;
    margin-left: 135px;
}

.silicon-text{
    font-size: 12px;
}

.silicon-bg{
    background-color: black;
}